<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>QuoteBoard</title>
  <style>
    body {
      font-family: system-ui, sans-serif;
      max-width: 700px;
      margin: 2rem auto;
      padding: 0 1rem;
      background: #111;
      color: #eee;
    }

    form {
      display: grid;
      gap: .5rem;
      margin-bottom: 2rem;
    }

    input,
    textarea,
    button {
      font: inherit;
      margin-top: 0.5rem;
    }

    .quote {
      margin-bottom: 1rem;
    }
  </style>
</head>

<body>
  <h1>QuoteBoard</h1>
  <img src="../assets/cristiano-ronaldo.png" alt="Ronaldo">
  <img src="../assets/mourinho.png" alt="Mourinho">
  <form method="post" action="/quotes">
    <input name="author" placeholder="Author (optional)" />
    <textarea name="text" placeholder="Write a quote..." required></textarea>
    <button type="submit" class="btn-quote">Add quote</button>
  </form>

  {{#if quotes.length}}
  {{#each quotes}}
  <div class="quote">
    <div class="quote-text">{{this.text}}</div>
    <div class="quote-author">— {{this.author}}</div>
  </div>
  {{/each}}
  {{else}}
  <p>No quotes yet. Add the first one.</p>
  {{/if}}
  <style>
    h1 {
      text-decoration: underline;
      text-align: center;
    }
    input {
      border: 2px solid#885527;
      border-radius: 10px;
      font-size: 16px;
      padding: 5px;
    }
    textarea {
      border: 2px solid#885527;
      border-radius: 10px;
      font-size: 16px;
      padding: 5px;
    }
    .btn-quote {
      background-color: #885527;
      color: whitesmoke;
      border-radius: 50px;
      font-weight: bold;
      border: none;
      padding: 10px;
      width: 20%;
      cursor: pointer;
    }
    .quote-text {
      font-style: italic;
    }
    .quote-author {
      font-weight: bold;
      color: #885527;
    }
  </style>
</body>

</html>